[Unit]
Description=smtpToZbxTrap inspired by https://www.zabbix.com/forum/showthread.php?p=186838
#Requires=After=XYZ.service       # Requires the XYZ service to run first

[Service]
ExecStart=/usr/local/bin/smtpToZbxTrap.py --ini /etc/zabbix/smtpToZbxTrap.ini --service
# Required on some systems
#WorkingDirectory=/working/directory
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=smtpToZbxTrap
User=zabbix
Group=zabbix

[Install]
WantedBy=multi-user.target
